*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
} 

h1{
     font-family: "BBH Sans Bartle", sans-serif;
     color: rgb(233, 202, 202);
}
body{
     font-family: "Roboto Slab", serif; 
     background-image: url('../imagem/lui.jpg');
     color: rgb(238, 199, 229);
     background-repeat: no-repeat;
     background-size: cover;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     gap: 10px;
     min-height: 100vh;
     padding: 10px;
     
}
div{
border: 2px solid #ff008c;
background-color: #44054d;
}
section{
    display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     gap: 10px;
}

  input{
  padding: 10px;
  border: none;
  font-size: 18px;
  border-radius: 999px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
 
button{
     padding: 10px;
    background: #44054d;
    border: 2px solid #ffffff;
    color: #ffff;
}

button :hover{
    background: #ffffff;
    border: 2px solid #ffffff;
    color: #ffffff;
    cursor: pointer;
}